<header id="home">
  <nav class="navbar navbar-expand-lg" style="background-color:black;color:white">
    <a class="navbar-brand">TamilNad Papers</a>
  </nav>
</header>

<div class="container-flush">
  <div id="container" class="col-md-4 col-sm-8">
      <form class="form" id="my-form" #postForm="ngForm" >
          <div class="container">
              <div class="text-center heading ">
                  <h1 style="font-weight:500">Admin Login</h1>
              </div>
              <div class="form-group pt-5">
              <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="Username"


              >
              <!-- <p>{{Username}}</p> -->
              <!-- <p class="err-msg">Enter your Username</p> -->
              </div>
              <div class="form-group pt-2">
              <input
                  type="password"
                  class="form-control"
                  id="userpassword"
                  placeholder="Password"


              >
              </div>

              <div class="text-center pt-4">
                  <button type="submit" class="btn btn-primary" >Login</button><br>
                  <p class="forgot-pass pt-2" (click)="goHome()">Home</p>
              </div>
          </div>
      </form>
  </div>
</div>
