<div class="container-flush">
  <div id="container" class="col-md-4 col-sm-8">
      <form class="form my-form" #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value);postForm.reset()">
          <div class="container">
              <div class="text-center heading ">
                  <h1 style="font-weight:500">SignUp</h1>
              </div>
              <div class="form-group pt-5">
              <input 
                  type="text" 
                  class="form-control" 
                  id="email" 
                  name = "email"
                  placeholder="Email"
                  ngModel
                  (ngModelChange)='onChange1($event)'
              >
              <!-- <p>{{Username}}</p> -->
              <!-- <p class="err-msg">Enter your Username</p> -->
              <p *ngIf="status1" class="err-msg">{{msg1}}</p>
              </div>
              <div class="form-group">
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" 
                    name = "name"
                    placeholder="Name"
                    ngModel
                >
              </div>
              <div class="form-group">
                <input 
                    type="text" 
                    class="form-control" 
                    id="mobileno" 
                    name = "mobileno"
                    placeholder="Mobile No"
                    ngModel
                >
              </div>
              <div class="form-group">
              <input 
                  type="password" 
                  class="form-control" 
                  id="password" 
                  name = "password"
                  placeholder="Password"
                  ngModel
                  (ngModelChange)='onChange2($event)'
              >
              <p *ngIf="status2" class="err-msg">{{msg2}}</p>
              </div>
              <div class="form-group">
                <input 
                    type="password" 
                    class="form-control" 
                    id="confirmpassword" 
                    name = "confirmpassword"
                    placeholder="Confirm Password"
                    ngModel
                    (ngModelChange)='onChange3($event)'
                >
                <p *ngIf="status3" class="err-msg">{{msg3}}</p>
              </div>
      
              <div class="text-center pt-4">
                  <button type="submit" class="btn btn-primary" >Submit</button><br>
                  <p class="forgot-pass pt-2" (click)="goLogin()">Go to Login</p>
              </div>
          </div>
      </form>
  </div>
</div>
